img
{
    width:250px;
}
#thumb-container
{
    /* border:2px solid;
    border-radius: 10px; */
    /* padding:10px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}